@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor01: #034159;
    --cor02: #0596A6;
    --cor03: #0DD9D9;
    --cor04: #D3B26C;
    --cor05: #800000;
    --font01:"Protest Strike", sans-serif;
    --font02:"Open Sans", sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    width: 420px;
}

div {
    background-color: white;
}

img {
  margin: 20px 200px 0px 200px;
}

 body {
    background-color: var(--cor03);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--cor01);
    padding: 60px;
    display: flex;
    justify-content: center;
    min-width: 400px;
    color: var(--cor04);
    box-shadow: 2px 2px  6px rgba(0, 0, 0, 0.747);
}

h1 {
    font-family: var(--font01);
    text-shadow: 1px 4px 5px #0b2841c5;
    font-weight: normal;
    font-size: 4.5em;
}

p {
    text-align: justify;
    font-size: larger;
    color: var(--cor05);
    font-family: var(--font02);
}

p#p1 {
    text-indent: 2em;
    text-align: justify;
    padding: 2em 2em;
}

p.p2 {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: var(--cor05);
}

a.paginas {
    display: block;
    text-decoration: none;
    color: var(--cor05);
    text-align: right;
    padding-right: 10px;
}

a:hover {
    color: var(--cor04);
    transition-duration: 9ms;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    color: var(--cor04);
    transition-duration: 9ms;
}

footer {
    background-color: black;
}

footer > p {
    text-align: center;
    color: white;
}

footer > p > a {
    color: white;
}
