@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
:root {
    --cor01: #034159;
    --cor02: #0596A6;
    --cor03: #0DD9D9;
    --cor04: #D3B26C;
    --cor05: #800000;
    --font01:"Protest Strike", sans-serif;
    --font02:"Open Sans", sans-serif;
}

table {
    border-collapse: collapse;
    margin: 18px 6px;
}

caption {
    text-transform: inherit;
    font-weight: bold;
}

th {
    background-color: rgb(160, 246, 252);
}

th, td {
    border: 1px solid black;
    padding: 10px;
    width: 420px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

 body {
    background-color: var(--cor03);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: var(--cor01);
    padding: 60px;
    display: flex;
    justify-content: center;
    min-width: 400px;
    color: var(--cor04);
    box-shadow: 2px 2px  6px rgba(0, 0, 0, 0.747);
}


h1 {
    font-family: var(--font01);
    text-shadow: 1px 4px 5px #0b2841c5;
    font-weight: normal;
    font-size: 4.5em;
}

p {
    text-align: justify;
    font-size: larger;
    color: var(--cor05);
    font-family: var(--font02);
}

p#p1 {
    text-indent: 2em;
    text-align: justify;
    padding: 2em 2em;
}

p.p2 {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: var(--cor05);
}

a.paginas {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    text-decoration: none;
    color: var(--cor05);
}

a:hover {
    color: var(--cor04);
    transition-duration: 9ms;
}

abbr {
    text-decoration: none;
}

main {
    position: relative;
    min-height: 76.9vh;
}

abbr:hover {
    color: var(--cor04);
    transition-duration: 9ms;
}

#wrap {
    padding-bottom: 2.5rem;
}

footer {
    background-color: var(--cor01);
    position:absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    color: white;
    text-align: center;
}

footer > p > a {
    color: white;
}


#tr1 {
    background-color: rgb(252, 58, 58);
}
#tr2 {
    background-color: rgb(255, 166, 0);
}
#tr3 {
    background-color: yellow;
}
#tr4 {
    background-color: rgb(159, 243, 34);
}